/*
Theme Name: Hitachi Center Theme
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
#top-bar li, #top-bar li a{
    font-size: 1.04em;
    font-weight: 700;
    padding: 0;
    color: #fff;
}
#masthead .nav-spacing-medium>li {
    margin: 0 5px;
}
.flex-col ul li.menu-item a.nav-top-link {
    padding: 10px;
}
#footer span.widget-title {
    font-size: 16px;
}
.is-divider.small {
    display: none;
}
.footer-widgets.footer.footer-1 {
    padding-top: 35px;
}
.footer .row.has-block{
	padding:15px;
	line-height:10px;
}
#footer1 img {
  max-width: 53px;
  vertical-align: middle;
}
.footer-1 p, .footer-1 a,.footer-1 li{
        line-height: 1.5;
}
#footer1 a {color:#fff;text-decoration:none;    font-size: 20px;}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.back-to-top {
    bottom: 60px;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
#footer1 table td {
    padding: 0;
    text-align: inherit;
    border-bottom: none; 
    line-height: normal;
}
.ft_block ul li{
    list-style: disc;
    margin-bottom: 0;
}
.dv_suachua .section-title-normal {
    border-bottom: 2px solid #2196F3 !important;
}
.dv_suachua span.section-title-main {
    background: #2196F3;
    padding: 10px 45px 5px 20px;
	color: #fff;
}
.dv_suachua .icon-angle-right:before {
	display:none;
}
.section-title a {
    display: block;
    padding-left: 15px;
    font-size: .8em;
    margin-left: auto;
}
.flex1 {
    display: flex;
}
.col.border_le {
    border-left: 1px solid #ccc;
}
input.wpcf7-form-control.wpcf7-submit {
    border-radius: 10px;
    background: #f00;
    width: 150px;
}
.the_title {
    border-left: 5px solid #f00;
    padding-left: 7px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
h6.entry-category.is-xsmall {
    display: none;
}
.icon_qc .icon-box-text.last-reset h5, .icon_qc .icon-box-text.last-reset a {
    color: #ff0;
    line-height: 1;
}
.icon_qc .icon-box-text.last-reset {
    padding-top: 5px;
}
.dv_suachua h3 > a:before {
    content: "\f101";
    font-family: fontawesome;
    padding-right: 7px;
    font-size: 10px;
}
.dv_suachua h3 > a {
	color:#f00;
    font-size: 12px;
}
.footer .icon-box-text.last-reset {
    padding-top: 10px;
}
.footer-1 .icon-box-text.last-reset h3, .footer-1 .icon-box-text.last-reset h4 {
    line-height: 1.3;
    color: #ff0;
}
.call {
    background: #ED1C24;
    position: fixed;
    bottom: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 00px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 999;
}
#callnowbutton {
    font-size: 22px;
    font-weight: bold;
}

.call a {
    color: #fff;
    padding: 0 15px;
    -webkit-animation: my 1000ms infinite;
    -moz-animation: my 1000ms infinite;
    -o-animation: my 1000ms infinite;
    animation: my 1000ms infinite;
}
i.fa.fa-phone {
    font-size: 25px;
    line-height: 40px;
    background: #B52026;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: right;
}
 @keyframes my { 
     0% { color: #F8CD0A;  } 
     50% { color: #fff;  }
     100% { color: #F8CD0A;  }}

     @media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/
    .html_topbar_left{
        text-align: center;
    }

}
